<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="TR">
<head>
    <meta charset="UTF-8">
    <title> hello world form</title>
</head>
<body>
<form th:action="@{/processForm2}" method="GET">
    <input type="text" name="studentName" placeholder="what's your name">
    <input type="submit" value="submit">
</form>
<form th:action="@{/processForm}" method="GET">
    <input type="text" name="studentName" placeholder="inputText">
    <input type="submit" value="submit">
</form>
</body>
</html>
