<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>student form</title>
    <style>
.error{color:red}
    </style>
</head>
<body>
<h3>Student registration form</h3>
<br>
<form
        th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    <p>First name: <input type="text" th:field="*{firstName}"/></p>
    <br><br>
        <p>Last name (*):
            <input type="text" th:field="*{lastName}" />
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
        </p><br>
    <br><br>
    <select name="country"
            th:field="*{country}">
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
    </select>
    <br>
    <br>
    <p>Favorite Programming Language</p>
    <input
            type="radio"
            th:field="*{language}"
            th:each="language : ${languages}"
            th:value="${language}"
            th:text="${language}"/>
    <br>
    <p>Favorite operating System</p>
    <input type="checkbox" th:field="*{operatingSystem}"
           th:each="each : ${operatingSystems}"
           th:value="${each}"
           th:text="${each}"
    />
    <br>
    <br>
    <input type="submit" name="submit" value="submit">
</form>


</body>
</html>