<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>student succes page</title>
</head>
<body>
name : <span th:text="${isim}"></span>
<br>
lastName: <span th:text ="${soyisim}"></span>
<br>
country: <span th:text="${country}"></span>
<br>
favorite programming language : <span th:text="${language}"></span>
<br>
favorite operating system:
<ul>
  <li th:each="each : ${student.operatingSystem}" th:text="${each}"></li>
</ul>
</body>
</html>